#root{
    .App{
        .top-bar{
            .containerr{
                .main{
                    .ant-layout.private-layout-container{
                        .ant-layout{
                            .component.products{
                                .outside{
                                    display: flex;
                                    justify-content: space-between;
                                    .title.btn-add{
                                        font-size: 18px !important;
                                        background-color: #2C6DAF;
                                        align-self: center;
                                        padding:20px 10px;
                                        border-radius: 5px;
                                        color: white;
                                        font-weight: 400;
                                        border: 1px solid gray;
                                        cursor: pointer;
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                                .search{
                                    display: flex;
                                    margin-bottom: 30px;
                                    .child{
                                        margin-right: 10px;
                                        :first-child{
                                            border-radius: 5px;
                                        }
                                    }
                                    .search-by-code-or-name,.search-by-count{
                                        width: 20%;
                                    }
                                    .search-by-cate,.search-by-owner{
                                        width: 13%;
                                        .ant-space.ant-space-vertical,.ant-space.ant-space-horizontal.ant-space-align-center,.ant-space-item,.ant-btn.ant-dropdown-trigger{
                                            width: 100%;
                                        }
                                    }
                                    .search-btn{
                                        :first-child{
                                            border-radius: 5px;
                                        }
                                    }
                                }
                                .add-product{
                                    .add-data-field{
                                        width: 100%;
                                        display: flex;
                                        justify-content:flex-end;
                                        margin-bottom: 30px;
                                        font-size: 16px;
                                        .btn-add{
                                            margin-left: 10px;
                                            .ant-btn.ant-btn-primary{
                                                border-radius: 5px;
                                            }
                                            
                                        }
                                    }
                                    .out-side{
                                        background-color: #FFFFFF;
                                        border-radius: 5px;
                                        padding: 10px 20px;
                                        .ant-form.ant-form-horizontal{
                                            .parent{
                                                display: flex;
                                                justify-content: space-between;
                                                .form{
                                                    width: 49%;
                                                    .ant-row.ant-form-item{
                                                        display: block;
                                                        margin-bottom: 10px;
                                                        .ant-col.ant-form-item-label{
                                                            width: 100%;
                                                            text-align: left;
                                                        }
                                                        .ant-col.ant-form-item-control{
                                                            .ant-input,.ant-select.ant-select-single.ant-select-show-arrow > .ant-select-selector{
                                                                border-radius: 5px;
                                                            }
                                                            .ant-form-item-explain.ant-form-item-explain-error{
                                                                text-align: left;
                                                                padding-left: 10px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .btn-add-product{
                                                .ant-form-item-control-input-content{
                                                    display: flex;
                                                    margin-top: 10px;
                                                    .ant-btn.ant-btn-primary{
                                                        width: 49%;
                                                        border-radius: 5px;
                                                    }
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.ant-modal.modal-add-list{
    .ant-modal-content{
        padding: 25px 10px;
        .ant-modal-body{
            .parent{
                .title-modal{
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                .ant-form.ant-form-horizontal{
                    .ant-col.ant-form-item-label{
                        width: 100%;
                        display: block;
                        text-align: left;
                    }
                }
            }
        }
        .ant-modal-footer{
            display: none;
        }
    }
}