@import '~antd/dist/antd.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
.App{
  text-align: center;
}
.nav-bar{
  position: absolute;
  right: 0;
  width: 100%;
  background-color: gray;
  height: 70px;
  z-index: 0;
}
